#score {
  text-align: center;
  font-size: 20px;
}

#game {
  border: 1px solid black;
  width: 600px;
  height: 300px;
  margin: auto;
  background-image: url(https://media.istockphoto.com/id/635685968/photo/banff-national-park.jpg?s=612x612&w=0&k=20&c=2d65YAT9owo9zXL8F20rTb-WMw88Em238Gxty8V17wc=);
  background-size: cover;
}

#dino {
  height: 90px;
  width: 90px;
  position: relative;
  top: 225px;
  left: 0px;
  background-image: url(dinosaur-removebg-preview.png);
  background-size: cover;
}

#rock {
  height: 50px;
  width: 50px;
  position: relative;
  top: 170px;
  left: 550px;
  background-image: url(rock-removebg-preview.png);
  background-size: cover;
  animation: rock 1.5s infinite;
}

@keyframes rock {
  0% {
    left: 550px;
  }
  100% {
    left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 225px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 225px;
  }
}
